<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>1,0.75,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
				<key>e.glif</key>
				<string>C</string>
			</dict>
			<key>org.unifiedfontobject.normalizer.modTimes</key>
			<string>version: 0.4.1
1588596825.2 a.glif
1588596825.2 alef-hb.glif
1588596825.2 c.glif
1588596825.3 e.glif
1588596825.3 i.glif
1588596825.3 n.glif
1588596825.3 s.glif
1588596825.3 z.glif</string>
		</dict>
	</dict>
</plist>
